RewriteEngine on

#Redirecciona al index
RewriteRule ^$ /Ada/views/index.php [L]

#buscar el archivo ingresado en la url
RewriteCond %{REQUEST_FILENAME} !-f

#Urls amigables
RewriteRule ^([a-zA-Z0-9/]+)$ /Ada/views/$1.php [NC,L]


#Error
ErrorDocument 404 /Ada/error/404.php
ErrorDocument 500 /Ada/error/500.php
ErrorDocument 403 /Ada/error/403.php
ErrorDocument 300 /Ada/error/300.php
