.navbar{

  background-color: $colorprincipal !important;
  padding: 1.5rem;

  a{
    color: $white !important;
  }
  :hover{
    color: $colorconstraste !important;
  }

}

//presentacion
.jumbotron{

  padding: 15rem 10rem;
  background-color: transparent !important;

  .text-presentacion{

    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    font-size: 92px;
    color: $colorprincipal !important;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
}

//configuracion contenedor de textos
.container-text{

  width: 100% !important;
  background-color: #fff !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


}

// condiguracion galeria
.flex-column {
  max-width: 260px;
}

.scale {
  transform: scaleY(1.05);
  padding-top: 5px;
}

//  Footer
.footer{
  background-color: $colorprincipal;
  display: block;
  a{
    color: #fff !important;
  }
  :hover{
    text-decoration: none;
  }
}
