@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
$font-family: 'Cutive Mono', monospace;


$colorprincipal: #0f3057;
$colorSecundario: #008891;
$colorTerciario: #00587a;

$backgroundcolor: #1b1919;
$colorTextoWhite: #ffff;

$colorconstraste: #f39c12;
$white: #e7e7de;
