@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
$font-family: 'Cutive Mono', monospace;


$colorprincipal: #4b6584;
$colorSecundario: #fffff;
$colorTerciario: #fffff;

$backgroundcolor: #d1d8e0;

$colorconstraste: #f39c12;
$white: #e7e7de;
